<!-- Courbes pr les produoits -->
<div class="row">
    <div class="col-lg-5">
      <app-my-chart
        [type]="'bar'"
        [title]="'Produits par catégorie'"
        [data]="produitData">
      </app-my-chart>
    </div>

    <div class="col-lg-7">
      <app-my-chart
        [type]="'line'"
        [title]="'Présentation linéaire des produits'"
        [data]="produitData">
      </app-my-chart>
    </div>
</div>


<!-- Courbes pr les utilisateurs -->
<div class="row">

  <div class="col-lg-7">
    <app-my-chart
      [type]="'line'"
      [title]="'Présentation linéaire des utilisateurs'"
      [data]="usersData">
    </app-my-chart>
  </div>

  <div class="col-lg-5">
    <app-my-chart
      [type]="'bar'"
      [title]="'Utilisateur par role'"
      [data]="usersData">
    </app-my-chart>
  </div>

</div>

